---
---

@import "{{ site.theme }}";


.page-header {
  padding: 4rem 1rem;
}

.main-content {
  max-width: 900px;
}

.main-content h1 {
  color: #159957;
}

.main-content h2 {
  margin-top: 2rem;
}

.main-content h3 {
  margin-top: 1.5rem;
}
